body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myDiv h5 {
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

.myDiv {
  text-align: center;
}

.myDiv .bgImage {
  display: inline-block;
  /* background-color: #2ba6cb; */
  /* border-radius: 50%; */
  padding: 0.5em 0.2em 0.8em 0.5em;
}
